{% extends "base.html" %}

{% block title %}Installation Success!{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css"
    href="http://static1.twilio.com/packages/base.css"/>
<link rel="stylesheet" type="text/css"
    href="http://static0.twilio.com/packages/buttons.css" />
<link rel="stylesheet" type="text/css"
    href="/static/styles/index.css" />
{% endblock %}

{% block content %}
<div id="container">
    <header>
        <div id="header">
            <h1 class="section-heading">Success!</h1>
        </div>
    </header>
    <section>
        <div id="content">
            <h2 class="section-heading">You deployed Twilio Queue Example.</h2>
            <p class="blurb">Here are some important links:</p>
            <a href="https://www.twilio.com/user/account/phone-numbers/incoming"
               class="button">Setup a Number</a>
            <dl id="url_list">
                <dt>Voice Request URL for Callers</dt>
                <dd><a href="{{params['caller_request_url'] }}">
                    {{params['caller_request_url'] }}</a></dd>
                <dt>Voice Request URL for Agents</dt>
                <dd><a href="{{params['agent_request_url'] }}">
                    {{params['agent_request_url'] }}</a></dd>
           </dl>
        </div>
    </section>
    <footer>
        <p class="footer">
            Source on <a
                href="https://github.com/RobSpectre/Twilio-Queue-Example">Github</a>.
            Released under <a
                href="http://www.opensource.org/licenses/mit-license.html">
                MIT license</a>.
            Lovingly crafted by <a id="twiliocon-2011-link" 
                href="http://www.meetup.com/Twilio/New-York-NY/">
                Twilio New York</a>.
        </p>
    </footer>
</div>
{% endblock %}
